  .background {
    background-image: url(/images/stadium.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: groove;
    color: white;
    background-color: green;
    padding: 15px;
    margin-bottom: 40px;
  }
  .Home, .Teams, .Stats, .Standings {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 16%;
    background-color: green;
  }
  .History {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 16%;
    background-color: #4aa84a;
  }
  .Home:hover, .Teams:hover, .Stats:hover, .Standings:hover {
    background-color: #4aa84a;
  }
  .ESPN {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
    padding: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .ESPN:hover {
    background-color: #4aa84a;
  }
  .img1 {
    float: left;
    width: 150px;
    border-radius: 75px;
  }
  .img2 {
    float: right;
    width: 150px;
    border-radius: 75px;
  }
  .h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    margin-bottom: 45px;
    width: 50%;
    height: auto;
    background-color: green;
    text-align: center;
    color: white;
    display: block;
  }
  .h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    width: 28%;
    height: auto;
    background-color: green;
    text-align: left;
    color: white;
    margin-bottom: 45px;
    padding: 10px;
  }
  .h4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: green;
    text-align: center;
    color: white;
    margin-bottom: 45px;
    padding: 10px;
  }
  .champion1 {
    float: left;
    margin-left: 25%;
    width: 10%;
    margin-top: 50px;
    border-radius: 10px;
  }
  .champion2 {
    float: right;
    margin-right: 25%;
    width: 10%;
    margin-top: 50px;
    border-radius: 10px;
  }
  .scorer1 {
    float: left;
    margin-left: 25%;
    width: 10%;
    margin-top: 90px;
    border-radius: 10px;
  }
  .scorer2 {
    float: right;
    margin-right: 25%;
    width: 10%;
    margin-top: 90px;
    border-radius: 10px;
  }
  .loser1 {
    float: left;
    margin-left: 25%;
    width: 10%;
    margin-top: 100px;
    border-radius: 125px;
  }
  .loser2 {
    float: right;
    margin-right: 25%;
    width: 10%;
    margin-top: 100px;
    border-radius: 125px;
  }
  .footer {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    width: 99%;
    text-align: center;
    color: white;
  }