  .background {
    background-image: url(/images/field.webp);
    background-color: black;
    background-position: center;
    background-repeat: repeat-y;
  }
  .header {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: groove;
    color: white;
    background-color: green;
    padding: 10px;
    margin-bottom: 20px;
  }
  .Home, .Teams, .History, .Stats {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 14%;
    background-color: green;
    padding: 2px;
    margin-left: 2.5px;
  }
  .Standings {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 14%;
    background-color: #4aa84a;
    padding: 2px;
    margin-left: 2.5px;
  }
  .Home:hover, .Teams:hover, .History:hover, .Stats:hover {
    background-color: #4aa84a;
  }
  .ESPN {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
    padding: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .ESPN:hover {
    background-color: #4aa84a;
  }
  .img1 {
    float: left;
    margin-left: 1%;
    width: 25px;
    border-radius: 125px;
    margin-top: 0.75%;
  }
  .img2 {
    float: right;
    margin-right: 1%;
    width: 25px;
    border-radius: 125px;
    margin-top: 0.75%;
  }
  .h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    margin-bottom: 20px;
    width: 95%;
    height: auto;
    background-color: green;
    text-align: center;
    color: white;
    display: block;
  }
  .h3 {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: green;
    text-align: left;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
  }
  .act {
    font-size: 20px;
    text-decoration: underline;
  }
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
  }
  .standings1 {
    text-align: center;
    width: 100%;
  }