  .background {
    background-image: url(/images/stadium.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: groove;
    color: white;
    background-color: green;
    padding: 15px;
    margin-bottom: 40px;
  }
  .Home, .Teams, .History, .Stats {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 16%;
    background-color: green;
  }
  .Standings {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    border: inset;
    width: 16%;
    background-color: #4aa84a;
  }
  .Home:hover, .Teams:hover, .History:hover, .Stats:hover {
    background-color: #4aa84a;
  }
  .ESPN {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
    padding: 5px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .ESPN:hover {
    background-color: #4aa84a;
  }
  .img1 {
    float: left;
    width: 150px;
    border-radius: 75px;
  }
  .img2 {
    float: right;
    width: 150px;
    border-radius: 75px;
  }
  .h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    margin-bottom: 45px;
    width: 50%;
    height: auto;
    background-color: green;
    text-align: center;
    color: white;
    display: block;
  }
  .h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: double;
    margin: auto;
    width: 85%;
    height: auto;
    background-color: green;
    text-align: left;
    color: white;
  }
  .standings1 {
    text-align: center;
    width: 100%;
  }
  .footer {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
  }